<head>
  <title></title>
  <style>
    iframe.main {
      width:100%;
      height:100%;
      border:0;
    }
    iframe.preview {
      height:100%;
      width:100%;
      border:0;
    }
    #main-frame-container {
      width: 50%;
    }
    #main-frame-container.small {
      width: 33%;
    }
    #main-frame-container.hide {
      display: none;
    }
    #preview-frame-container {
    }
    table {
      border-spacing: 0;
    }
    body, table, td, tr {
      padding: 0; margin: 0;
    }
  </style>
  <script>
    var req_element = {};

    function preview_request(request_url) {
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var data = JSON.parse(this.responseText);
          preview_add(data["mimetype"], data["url"]);
        }
      };
      req.open("GET", request_url, true);
      req.send();
    }

    function preview_add(mimetype, url) {
      var win = window.frames["preview-frame"];
      var doc = win.document;
      var container = doc.createElement("div");
      var label = doc.createElement("div");
      var filename = doc.createElement("span");
      filename.classList.add("filename");
      filename.appendChild(doc.createTextNode(url));
      var type = doc.createElement("span");
      type.classList.add("filetype");
      type.appendChild(doc.createTextNode("type: " + mimetype));
      label.appendChild(filename);
      label.appendChild(type);
      label.classList.add("label");
      var content = doc.createElement("div");
      if (mimetype.startsWith("image/")) {
        var img = doc.createElement("img");
        img.src = url + "?" + String((new Date).getTime());
        img.style.cursor = "zoom-in";
        img.addEventListener("click", function (e) { if (e.target.style.minWidth == "") { e.target.style.minWidth = "100%"; } else {e.target.style.minWidth = ""; } });
        content.appendChild(img);
      }
      else {
        // nothing to load.
      }
      content.classList.add("content");
      container.appendChild(label);
      container.appendChild(content);
      container.classList.add("container");
      label.style.cursor = "not-allowed";
      label.addEventListener("click", function () { del_container(url); });
      del_container(url);
      add_container(url, container);
      win.scrollTo(0, 0);
    }

    function add_container(id, container) {
      req_element[id] = container;
      window.frames["preview-frame"].document.body.prepend(container);
    }

    function del_container(id) {
      if (id in req_element) {
        window.frames["preview-frame"].document.body.removeChild(req_element[id]);
        delete req_element[id];
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      var doc = window.frames["preview-frame"].document; 
      var link  = doc.createElement('link');
      link.rel  = 'stylesheet';
      link.type = 'text/css';
      link.href = '/preview/static/css/preview.css';
      doc.head.appendChild(link);

      document.getElementById("change-layout").addEventListener("click",
        function () {
          var ele = document.getElementById("main-frame-container");
          if (ele.classList.contains("small")) {
            ele.classList.replace("small", "hide");
          }
          else if (ele.classList.contains("hide")) {
            ele.classList.remove("hide");

          }
          else {
            ele.classList.add("small");
          }
        });
    });
  </script>
</head>
<body>
  <table style="height: 100%; width: 100%;"><tbody>
      <tr><td id="change-layout" style="height: 0; cursor: pointer; background: #ddd; text-align: center;">&#x2B7E;</td></tr>
      <tr><td style="height: 100%;">
          <table style="height: 100%; width: 100%;"><tbody><tr>
                <td id="main-frame-container"><iframe class="main" name="main-frame" src="/{{path}}"></iframe></td>
                <td id="preview-frame-container"><iframe class="preview" id="preview-frame" name="preview-frame"></iframe></td>
          </tr></tbody></table>
      </td></tr>
  </tbody></table>
</body>
